.teams-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

.ant-layout{
    background: transparent !important;
}

.teams-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teams-text h2{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.teams-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.teams-header-row {
    background-color: transparent;
    color: white;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    padding: 0 16px;
    margin-bottom: 10px;
}