.admin-session-summary-row {
    width: 100%;
}

.icon-calendar {
    transform: scale(1.5);
    font-weight: bold;
    color: #fff;
}

.icon-action {
    color: #fff;
    font-size: 18px;
}

.col-action {
    transform: scale(1.5);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.col-action:hover {
    transform: scale(1.8);
}

.avatar-icon {
    cursor: pointer;
    position: relative;
    background-color: #001529;
}

.avatar-extra-icon {
    position: relative;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
}

.avatar-group {
    display: flex;
    align-items: center;
}
