/* Fixed header */
.navbar-header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: #001529;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar-logo {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.navbar-menu {
    flex: 0;
    margin-left: auto;
    border-bottom: none;
}
