.navbar-header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: #001529;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar-logo {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px; /* spațiu între linkuri și avatar */
}

.navbar-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #1890ff;
}

.active-link {
    color: #1890ff !important;
}

.active-logo{
    border: 2px solid #1890ff !important;
}

.navbar-avatar {
    cursor: pointer;
    border: 2px solid rgba(151, 146, 146, 0.83);
    transition: border 0.5s !important;
}

.navbar-avatar:hover {
    border: 2px solid #1890ff !important;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    padding-bottom: 4px;
    transition: color 0.3s;
}

.navbar-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 18px;
    width: 0;
    height: 2px;
    background-color: #1890ff;
    transition: width 0.4s ease;
}

.navbar-links a:hover::after {
    width: 100%;
}

.navbar-links a.active-link::after {
    width: 100%;
}

