.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100%;
}

.card {
    box-shadow: 0 0 25px rgba(55, 51, 51, 0.8);
    background: #2D3748;
    color: #fff;
    border: 2px solid #4B5563;
}

.highlight-text{
    color: #2563eb;
    font-weight: bold;
}


/*Dropdown*/
.dropdown .ant-dropdown-menu{
    background-color: #2D3748 !important;
    border: 2px solid #4B5563 !important;
    box-shadow: 0 0 25px rgba(55, 51, 51, 0.8);
    border-radius: 20px;
}

.dropdown .ant-dropdown-menu-item{
    color: white !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    border-radius: 20px !important;
}

.dropdown .ant-dropdown-menu-item:hover{
    background-color: #22252b !important;
}


/*Modal*/
.my-modal-content {
    background-color: #2D3748 !important;
    border: 2px solid #4B5563 !important;
    box-shadow: 0 0 25px rgba(55, 51, 51, 0.8);
    font-weight: 500 !important;
    font-size: 15px !important;
    border-radius: 20px !important;
}

.my-modal-content span {
    color: white;
}


.my-modal-header {
    background-color: transparent !important;
}

.my-modal-content div.ant-modal-title{
    color: white !important;
    font-weight: bold !important;
    font-size: 20px !important;
}

.my-modal-footer button:first-child span {
    color: black;
}

.my-modal-footer button:last-child span {
    color: white;
}

/*Buttons*/
.create-btn{
    width: 150px;
    height: 40px;
    font-size: 18px;
    background: #3B82F6 !important;
    border-radius: 6px !important;
    border: none !important;
}

.create-btn:hover {
    background: #2563EB !important;
}

.create-btn-position{
    margin-right: 20px;
}

/*Card*/
.summary-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid rgba(240, 243, 255, 0.1);
    background: rgba(240, 243, 255, 0.08);
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.35);
    color: #fff;
    padding: 10px 15px;
    font-family: "Segoe UI", serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
}

.clickable-card {
    cursor: pointer;
}

.hoverable-card:hover{
    cursor: pointer;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.67);
    transform: scale(1.05, 1.1);
}

.summary-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.summary-title {
    color: #fff !important;
    font-size: 20px !important;
    margin: 0 !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
}

.summary-text{
    color: white !important;
    font-weight: bold !important;
    font-size: 18px !important;
}

.summary-small-text{
    color: white !important;
    font-weight: 400 !important;
    font-size: 17px !important;
}



/*Pagination*/

.pagination-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    color: white;
}

.pagination-buttons span.anticon{
    color: white !important;
}


/*Header*/
.header-row {
    background-color: transparent;
    color: white;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    padding: 0 16px;
    margin-bottom: 10px;
}